<h3>Welcome to the movies page</h3>

<%= link_to 'Check out some star wars characters', '#', id: 'movie-link' %>




<h4>
	Name: <span id='char-name'></span>
</h4>

<h4>
	Height: <span id='char-height'></span>
</h4>

<h4>
	Birthyear: <span id='char-birth-year'></span>
</h4>